input {
border: 1px solid grey;
padding: 3px 5px;
margin-bottom: 10px;
padding: 10px;
 
}

body {
	font-family: Arial;
}

h1,h2 {
	font-variant: small-caps;
 color: green;
}
.main-heather {
	background-color: #D1FAD2;
}
a {
	color: darkgreen;
	text-decoration: none;
 font-weight: bold;
}
img {
	border: 2px solid #54C03F; //ramka zdjęcia
	 border-radius: 5px;
	border-radius: 50%; // zaokrąglił rogi
}

 {
	
} 